@mixin box( $radius, $shadowColor, $grad1, $grad2 ){
    border-radius: $radius;
    box-shadow: 0 5px 10px $shadowColor;
    background: #036;
    background: linear-gradient($grad1, $grad2);
}

@mixin cascade($colour) {
    position: relative;
    &::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	z-index: -2;
	top: 10px;
	left: -10px;
	background: darken($colour, 10%);

	box-shadow: -10px 10px 0 darken($colour, 5%);
    }
}

