header {
    text-align: center;
}

.container{
    padding: $gutter;
    width: $content-width;
    margin: $gutter auto;
    box-sizing: border-box;
    background: white;
    @include cascade($pink);
}

article {
    @include columns(3 200px);
    @include column-rule(solid 1px #ccc);
    @include column-gap($gutter);
}
